* {

}

.difference {

  &.positive {
    color: green;
  }

  &.negative {
    color: rgba(215, 0, 0, 0.76);
  }

}
span[class*=difference] {
  padding-left: 30px;
}


.options-right {
  margin-left: 30px;
}

.page-header {
  margin-top: 10px;
}

h1 {
  margin-top: 10px;
}
