* {

}

.difference {

  &.positive {
    color: green;
  }

  &.negative {
    color: rgba(215, 0, 0, 0.76);
  }

}
span[class*=difference] {
  padding-left: 30px;
}


.refresh {
  margin-left: 30px;
}
