<div class="page-header">
  <h1>Your Time this Week
    <span [class]="getDiffClass(total_diff, false)">{{total_diff | numberDiff}} ({{total_diff | numberTime}})</span>
    <button class="btn btn-link options-right" (click)="moveDown(1, 'week')">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </button>
    <button (click)="resubscribeService()" class="btn btn-primary">
      <span class="glyphicon glyphicon-refresh"></span>
    </button>
    <button class="btn btn-link" (click)="moveUp(1, 'week')">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
    <button class="btn btn-default" (click)="lgModal.show(); updated = false;">Settings</button>
  </h1>
</div>

<div class="container">
  <div class="row">
    <div *ngFor="let d of days.all">
      <div class="col-sm-2 text-center" *ngIf="d.time > 0">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{d.day}}</h3>
          </div>
          <div class="panel-body">
            <p [class]="getDiffClass(d.diff)"><strong>{{d.diff | numberDiff}}</strong></p>
            <p>{{d.time}} / {{goal}} h</p>
            <svg height="100" width="100">
              <!-- red -->
              <circle *ngIf="d.time <= goal" cx="50" cy="50" r="40" stroke="#d9534f" stroke-width="15"
                      fill="white"></circle>
              <!-- blue -->
              <circle *ngIf="d.time >= goal" cx="50" cy="50" r="40" stroke="#337ab7" stroke-width="15" fill="white">
              </circle>
              <path *ngIf="d.time < goal" fill="none" stroke="#337ab7" stroke-width="15"
                    [attr.d]="svg_calc.describeArc(50, 50, 40, 0, svg_calc.hoursToAngles(d.time, goal))"></path>
              <!-- green -->
              <path *ngIf="d.time > goal" fill="none" stroke="#5cb85c" stroke-width="15"
                    [attr.d]="svg_calc.describeArc(50, 50, 40, 0, svg_calc.hoursToAngles(d.time-goal, goal))"></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-{{2 * days.withValue}}">
      <progressbar [max]="progress.goal" [value]="progress.total_grand" [type]="progress.type">
        {{week.total_grand}} / {{progress.goal}}
      </progressbar>
    </div>
  </div>
</div>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Settings</h4>
      </div>
      <div class="modal-body">
        <div class="form-inline goal-form">
          <label>Daily Goal</label>
          <input type="number" class="form-control" [(ngModel)]="settings.goal.day" name="day">
          <label>Select a Week</label>
          <input type="week" class="form-control" [(ngModel)]="settings.date" name="date">
          <label>Number of days</label>
          <input type="number" class="form-control" [(ngModel)]="settings.numOfDays" name="numOfDays">
          <button (click)="updated = setSettings(settings, settings.date)" class="btn btn-default">Update</button>
        </div>
        <div class="alert alert-success success" [hidden]="!updated">Your settings have been updated</div>
      </div>
    </div>
  </div>
</div>
