<div class="page-header">
  <h1>Your Time this Week <span [class]="getDiffClass(total_diff)">{{total_diff}}</span></h1>
</div>

<div class="container">
  <div class="row">
    <div *ngFor="let d of days">
      <div class="col-sm-2 text-center" *ngIf="d.time > 0">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{d.day}}</h3>
          </div>
          <div class="panel-body">
            <p [class]="getDiffClass(d.diff)">{{d.diff}}</p>
            <p>{{d.time}} / {{goal}} h</p>
            <svg height="100" width="100">
              <circle *ngIf="d.time >= goal" cx="50" cy="50" r="40" stroke="#3450c9" stroke-width="15" fill="white">
              </circle>
              <path *ngIf="d.time < goal" fill="none" stroke="#3450c9" stroke-width="15"
                    [attr.d]="describeArc(50, 50, 40, 0, hoursToAngles(d.time, goal))"></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10">
      <progressbar [value]="week.total_grand" [max]="this.goal * 5" min="0" [type]="progress_type">
        {{week.total_grand}} / {{goal * 5}}
      </progressbar>
    </div>
  </div>
</div>
