<div class="page-header">
  <h1>Your Time this Week <span [class]="getDiffClass(total_diff)">{{total_diff | numberDiff}}</span></h1>
</div>

<div class="container">
  <div class="row">
    <div *ngFor="let d of days">
      <div class="col-sm-2 text-center" *ngIf="d.time > 0">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{d.day}}</h3>
          </div>
          <div class="panel-body">
            <p [class]="getDiffClass(d.diff)"><strong>{{d.diff | numberDiff}}</strong></p>
            <p>{{d.time}} / {{goal}} h</p>
            <svg height="100" width="100">
              <!-- red -->
              <circle *ngIf="d.time <= goal" cx="50" cy="50" r="40" stroke="#d9534f" stroke-width="15"
                      fill="white"></circle>
              <!-- blue -->
              <circle *ngIf="d.time >= goal" cx="50" cy="50" r="40" stroke="#337ab7" stroke-width="15" fill="white">
              </circle>
              <path *ngIf="d.time < goal" fill="none" stroke="#337ab7" stroke-width="15"
                    [attr.d]="svg_calc.describeArc(50, 50, 40, 0, svg_calc.hoursToAngles(d.time, goal))"></path>
              <!-- green -->
              <path *ngIf="d.time > goal" fill="none" stroke="#5cb85c" stroke-width="15"
                    [attr.d]="svg_calc.describeArc(50, 50, 40, 0, svg_calc.hoursToAngles(d.time-goal, goal))"></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10">
      <div class="progress">
        <bs-progress [max]="progress.max">
          <bar [value]="progress.progress" type="primary">
            {{week.total_grand}} / {{progress.goal}}
          </bar>
          <bar [value]="progress.total_diff" [type]="progress.type">
            {{total_diff | numberDiff}}
          </bar>
        </bs-progress>
      </div>
    </div>
  </div>
</div>
