<nav class="navbar navbar-inverse navbar-fixed">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Time Display</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a [routerLink]="['']">Daily</a></li>
      <li><a href="#">Weekly</a></li>
      <li><a href="#">Monthly</a></li>
    </ul>
    <ul class="nav navbar-right navbar-nav">
      <li><a [routerLink]="['details']">Details</a></li>
      <li><a [routerLink]="['about']">About</a></li>
    </ul>
  </div>
</nav>

<div class="content">
  <div class="container">
    <main>

      <!-- Images (and assets) are parsed and loaded from within the public directory -->

      <router-outlet></router-outlet>
    </main>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <ul>
      <li>
        <a [href]="url">Webpack Angular 2 Starter</a>
      </li>
      <li>
        <a href="https://github.com/felixkubli/time-display" target="_blank">Github</a>
      </li>
      <li>
        <a href="https://www.toggl.com/" target="_blank">Toggl</a>
      </li>
    </ul>
  </div>
</footer>

