// component styles are encapsulated and only applied to their components
* {

}

.difference{
  padding-left: 1em;

  &.positive{
    color: green;
  }

  &.negative{
    color: rgba(215, 0, 0, 0.76);
  }
}
