// component styles are encapsulated and only applied to their components
* {
  //color: #00cd00;
}

h2, h3, h4{
  //color: #00cd00;
}

.difference{
  margin-left: 20px;

  &.positive{
    color: green;
  }

  &.negative{
    color: red;
  }
}
