// component styles are encapsulated and only applied to their components
* {

}

.difference {
  padding-left: 1em;

  &.positive {
    color: green;
  }

  &.negative {
    color: rgba(215, 0, 0, 0.76);
  }
}

#input-goal {
  // margin-top: 3em;
}
.goal-form {
	margin-top: 20px;
	margin-bottom: 20px;
}

.btn-primary {

}
