<div class="row">
  <div class="col-sm-9">
    <h3>
      Your Time {{this.date | dateToday}}
      <span [class]="difference_class">{{this.difference | numberDiff}} ({{this.difference | numberTime}})</span>
    </h3>
  </div>
  <div class="col-sm-3">
    <h3 class="text-right">
      <button class="btn btn-link" (click)="moveDayDown()">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </button>
      <button (click)="reSubscribeService()" class="btn btn-primary"><span class="glyphicon glyphicon-refresh"></span></button>
      <button class="btn btn-link" (click)="moveDayUp()">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
    </h3>
  </div>
</div>


<progressbar [value]="this.reached" [max]="this.goal" min="0" [type]="progress_type">
  {{this.reached}} / {{this.goal}}
</progressbar>

<h4>
  Your Tickets
</h4>
<table class="table" *ngFor="let t of timeToday.data">
  <tr *ngFor="let i of t.items">
    <td>{{i.title.time_entry}}</td>
    <td>{{i.time}} h</td>
  </tr>
</table>
